h1.title {
    text-align: center;
    margin-top: 20%;
    color: rgb(71, 68, 68);
}

body {
    background-color: black;
}

p#subtitle {
    color: rgb(71, 68, 68);
    font-size: larger;
    text-align: center;
    margin-top: -1%;
}

p.sub-subtitle {
    color: ghostwhite;
    text-align: center;
    margin-top: 2%;
}

a.url {
    text-decoration: none;
    color: aqua;
}

h1.pl {
    text-align: center;
    color: gray;
    margin-top: 20%;

}